toolrental/resources/xsd/tool.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:element name="Tool">
        <xs:complexType>
            <xs:all>
                <xs:element name="Code" type="xs:string"/>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="Type" type="xs:string" />
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>